# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
ß
# VS Code settings
.vscode
.vscode/
.vscode/settings.json

# IntelliJ related
.idea/
*.iml

# Android Studio build outputs
/android/app/debug
/android/app/profile
/android/app/release

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.history
.svn/
migrate_working_dir/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json